@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@100..900&family=Orbitron:wght@400..900&display=swap');

/* Global Styles */
* {
    font-family: "Lexend Exa", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.blogerH1 {
    font-family: "Orbitron", sans-serif;
    font-size: 7rem;
    text-align: center;
}

.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./assets/bg3.jpeg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.Footer {
    height: 50vh;
    background-color: #282828;
    color: rgb(31, 31, 31);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.rander {
    width: 30%;
    transition: transform 0.3s ease-in-out;
}

.rander:hover {
    transform: scale(1.05);
}

.terri {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.terri img {
    width: 30%;
    border-radius: 15px;
}

.SecLogin {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 80px;
    background-color: rgb(255, 199, 16);
}

.user-Rev {
    width: 10%;
}

.creater {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.creater h1 {
    font-size: 4rem;
    text-transform: capitalize;
    font-weight: 800;
    color: #333;
}

.loginn {
    margin: 20px;
    width: 50%;
    padding: 20px;
    /* background-color: #f0f0f0; */
    box-shadow: 0px 0px 50px 5px #5a5a5a;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.inpot {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 10px;
}

.logout{
    background-color: red;
    color: white;
    padding: 5px 20px;
    border: none;
    border-radius: 20px;
}

.loaderPerant{
    background-color: rgba(255, 193, 78, 0.562);
    width: 100%;
    height: 100vh;
    position: fixed;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.blogPerant{
    background-color: #ffd45e;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: auto;

    /* text-align: center; */
}

.blogPerant form{
    background-color: rgb(255, 199, 16);
    border-radius: 20px;
    padding: 30px 50px;
margin:30px 0px;
    /* text-align: center; */
    
}
.blogPerant form input,textarea{
    width: 80%;
    padding: 5px 20px;
}
.blogPerant form button{
    background-color: #ffd45e;
    border: none;
    border-radius: 20px;
    padding: 10px 70px;
}
.sectionBlog{
    /* background-color: red; */
    width: 100%;
    padding: 20px 50px;
}
.sectionBlog h2{
    font-size: 3rem;
    text-align: center;
}
.sectionBlog ul{
   /* background-color: #ffc422; */
   list-style: none;
   display: flex;
   align-items: center;
   justify-content: space-around;
   flex-wrap: wrap;
}
.sectionBlog ul li{
   background-color: #ffd035;
   width: 30%;
   padding: 15px 20px;
   border-radius: 10px;
}

.sectionBlog ul li h3{
    text-transform: capitalize;
    text-align: center;
    width: 100%;
}
.sectionBlog ul li img{
width: 100%;
/* background-color: red; */
margin-bottom: 20px;
}
.sectionBlog ul li button{
    border: none;
    border-radius: 20px;
    margin-right: 20px;
background-color: #ff5e00;
padding: 10px 30px;
}


.loader {
    width: 12px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: #000;
    clip-path: inset(-220%);
    animation: l28 2s infinite linear;
  }
  @keyframes l28 {
    0%  {box-shadow:0 0 0 0   , 40px 0,-40px 0,0 40px,0 -40px}
    10% {box-shadow:0 0 0 0   , 12px 0,-40px 0,0 40px,0 -40px}
    20% {box-shadow:0 0 0 4px , 0px  0,-40px 0,0 40px,0 -40px}
    30% {box-shadow:0 0 0 4px , 0px  0,-12px 0,0 40px,0 -40px}
    40% {box-shadow:0 0 0 8px , 0px  0,  0px 0,0 40px,0 -40px}
    50% {box-shadow:0 0 0 8px , 0px  0,  0px 0,0 12px,0 -40px}
    60% {box-shadow:0 0 0 12px, 0px  0,  0px 0,0  0px,0 -40px}
    70% {box-shadow:0 0 0 12px, 0px  0,  0px 0,0  0px,0 -12px}
    80% {box-shadow:0 0 0 16px, 0px  0,  0px 0,0  0px,0  0px }
    90%,
    100%{box-shadow:0 0 0 0   , 40px 0,-40px 0,0 40px,0 -40px}
  }

/* Media Queries for Small Screens */
@media only screen and (max-width: 500px) {
    .blogerH1 {
        font-size: 4rem;
    }

    .hero p {
        font-size: 0.8em;
    }

    .buttons {
        flex-direction: column;
    }

    .butu {
        margin-bottom: 10px;
    }

    .todyTrend {
        text-align: center;
    }

    .coverEr {
        flex-direction: column;
        padding: 20px;
    }

    .Footer {
        height: 60vh;
    }

    .rander {
        width: 100%;
        margin-bottom: 20px;
    }

    .terri {
        flex-direction: column;
        text-align: left;
    }

    .terri img {
        width: 100%;
        margin-bottom: 20px;
        border-radius: 20px;
    }

    .SecLogin {
        flex-direction: column;
        padding: 20px;
    }

    .loginn {
        margin: 10% ;
        width: 100%;
    }

    .inpot {
        width: 100%;
    }

    .fr {
        width: 100%;
    }
    
.sectionBlog ul{
    /* background-color: #ffc422; */
    flex-direction: column;
}
.sectionBlog ul li{
     margin-bottom: 10%;
width: 100%;
 }
}
